@import './spinner.css';

body{
    background: url(https://images.wallpaperscraft.ru/image/les_tuman_vid_sverhu_129318_3840x2400.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
}

img{
    width: 100px;
    height: 100px;
}

.localButton, .buttonForThreeDays, .weatherMinsk{
    display: inline-block;
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
}

.localButton:hover, .buttonForThreeDays:hover, .weatherMinsk:hover{
    color: rgb(0,59,66);
    cursor: pointer;
}

.localButton:hover, .buttonForThreeDays:hover, .weatherMinsk:hover{
    padding-bottom: 1px;
    box-shadow:
     inset rgba(0,0,0,1) 0 1px 3px,
     inset rgba(0,0,0,.6) 0 -2px 5px,
     inset rgba(252,255,255,.7) 0 2px 5px,
     0 1px rgba(255,255,255,.08);
    color: rgb(128,207,214);
}

.weatherNow{
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    height: 350px;
    position: relative;
    color: rgb(0,79,86);
    max-width: 450px;
    background-color: rgba(212, 231, 218, 0.397);
    font-size: 25px;
}

.city{
    font-size: 40px;
    font-style: italic;
}

.degree{
    font-size: 40px;
    margin-bottom: 15px;
}

.description{
    margin-bottom: 15px;
    font-weight: bold;
}

.weatherForThreeDays{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

.day{
    background-color: rgba(42, 117, 95, 0.281);
    border-radius: 20px;
    margin: 0px 50px;
    padding-bottom: 20px;
}

.close{
    width: 0px;
    background-color: transparent;
    border: none;
    text-align: right;
    margin: 10px;
    position: absolute;
    right: -80px;
    top: 12px;
}

.close:before, .close:after {
    position: absolute;
    right: 7em;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: rgb(49, 77, 48);
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

